body {
    background-color: #000;
}

#start {
    width: 100px;
    height: 40px;
    font-size: 12px;
    color: white;
    background-color: gray;
    padding: 10px;
    border: none;
}

#game-grid {
    border: 1px dotted gray;
}